body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to right, #a1c4fd, #c2e9fb); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../img/backgroud.png');
    background-repeat: no-repeat;
    background-size: 1920px 1080px;

}

.navbar {
    position: fixed;
    top: 0;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(159, 171, 209, 0.75);
    backdrop-filter: blur(10px);
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar h1 {
    margin: 0;
    font-size: 1.5em;
    animation: fadeIn 2s;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}

.navbar a:hover {
    background-color: #fff;
    color: #202124;
}

.container {
    max-width: 1000px;
    margin: 300px 0px 0 150px;
    padding: 60px 0px 0px 0px;
    /* 增加了 padding-top 的值 */
    text-align: left;
    color: #ffffff;
    flex-grow: 1;
    animation: fadeIn 2s;
    height: auto;
    /* 修改了 height 的值 */
    overflow: auto;
}

.container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    animation: slideIn 2s;
}

.container p {
    line-height: 1.6;
    font-size: 1.5em;
    animation: slideIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.container button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #202124;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.container button:hover {
    background-color: #fff;
    color: #202124;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: rgba(32, 33, 36, 0.75);
    color: #fff;
}